[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/Vimux/Binario
[submodule "themes/materialize-bp"]
	path = themes/materialize-bp
	url = https://github.com/spech66/materialize-bp-hugo-theme
